.input {
	width: 100%;
	font-size: 1.2rem;
	line-height: 1.2em;
	font-weight: 600;
	padding: 0.2em 0.9em;

	text-align: center;
	outline: none;

	color: #fff;

	background-color: lightslategray;
	border-radius: 0.2em;
}
